dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
/README_v1.org
*.log
*.toc
libro/_minted-Ejercicios-Haskell/
libro/auto/Ejercicios-Haskell.el
libro/auto/definiciones.el
libro/*.png
libro/*.tex
libro/licencia*
libro/Makefile
